# Python virtual environment
env/
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# YOLO training outputs
runs/
results/

# YOLO datasets (usually large)
dataset/images/
dataset/labels/

# Model weights (large files)
#*.pt
*.pth
*.onnx

# Uploaded test images
test_non_cabbage/
uploads/
outputs/

# Logs
*.log

# Environment variables
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Node / Next.js (future frontend)
node_modules/
.next/
out/

# Build files
dist/
build/

# Temporary files
*.tmp
*.temp

.env.local